{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="{%static '/favicon.ico' %}" />
  <title>大发基金||登录页面</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style-loginYou.css' %}">
</head>
<body>


<div class="modal-dialog text-center">
  <div class="col-12 col-sm-8 main-section">
    <div clas="modal-content">
      <div class="col-12 user-img">
        <img src="{% static 'img-loginYou/face.png' %}">
      </div>

      <from class="col-12">
        <div class="form-group">
          <input type="text" class="form-control" id="userName" maxlength="128" placeholder="输入账户" required="">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="passWord" maxlength="20" placeholder="输入密码" required="">
        </div>
        <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>登录</button>
      </from>

      <div class="col-12 forget">
        <a href="#">忘记密码？| 点击处理</a>
      </div>
    </div><!-- End of Modal Content -->
  </div>

</div>





</body>
</html>



