{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <link rel="shortcut icon" href="{%static '/favicon.ico' %}" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>安全保障</title>
    <script async="" src="https://assets.growingio.com/2.1/gio.js"></script>
    <script type="text/javascript" src="{% static '/trust/js/rem.js' %}"></script>
	<link rel="stylesheet" href="{%  static '/trust/css/safe_newapp_base.css' %}" />
	<link rel="stylesheet" href="{% static '/trust/css/safe_newapp_my_account.css' %}" />
	<script type="text/javascript" src="{% static '/javascript/growingSDK.js' %}"></script>
	<script type="text/javascript" src="{% static '/javascript/jquery-1.7.2.min.js' %}"></script>
	<script type="text/javascript" src="{%  static '/javascript/jsrender.min.js' %}"></script>




    <link rel="stylesheet" type="text/css" href="https://m.wukonglicai.com/extra/integral/css/nav.css"/>

 
</head>
<body>
<ul class="m-asset-tab">
<li  class="active" style="width: 100%"><span>大发集团12年</span></li>
</ul>
<section id="wrap">
<div id="container">
<ul class="content_list">
<li class="content content_1" style="display: block;">
<h4><span class="red">大发基金</span>简介</h4>
<h5>大发基金，让你的钱聪明起来！</h5>
<div class="img_box">
<img src="{% static '/trust/images/jf10_1.png' %}" alt="" class="pic_1"/>
</div>
<p>发布于2014年9月18日，专注为用户提供<span class="red">多元</span>的出借选择和<span class="red">优质</span>的出借服务。</p>
<p><span class="red">月账户、季账户、年账户</span>等计划,满足各种资金出借需求,用户可以根据自己的资金情况，个性化组合多个账户。<span class="red">大发基金，大发集团孵化，因久而信。</span></p>
<h4 class="border"><span class="red">大发</span>简介</h4>
<h5>大发，中国移动互联网金融综合服务平台</h5>
<div class="img_box">
<img src="{% static '/trust/images/jf10_2.png' %}" alt="" class="pic_2"/>
</div>
<p>大发集团，<span class="red">实缴注册资本2亿元人民币</span>，全称大发数科科技集团有限责任公司。公司成立于2006年，致力于通过移动互联网和大数据风控技术为粉丝用户提供简单高效优质便捷的普惠金融服务，为用户创造财富价值。</p><br>
<p>大发集团历经十多年发展，已形成以移动互联网、大数据科技、生态链发展模块为基础，以消费分期、网络投资、移动海外证券、大数据评估等为核心业务的综合布局。旗下品牌包括大发普惠、大发万卡、大发基金、大发钱包、蜡笔分期、大发证券等。目前大发集团旗下品牌<span class="red">注册用户已经突破6000多万</span>。</p><br>
<p>大发集团始终深耕于数字金融，立足场景化生态建设，打造科技创新的金融普惠平台。成立至今，大发集团陆续引入数十位国内外资深专业高级人才，不断向智能金融领域迈进。</p>
<h4 class="border"><span class="red">大发普惠</span>简介</h4>
<div class="img_box">
<img src="{% static '/trust/images/jf10_4.png' %}" alt="" class="pic_2"/>
</div>
<p>北京大发普惠信息技术有限责任公司（简称：大发普惠）于2014年1月10日注册成立，实缴注册资本20亿元人民币。大发普惠作为大发集团全资子公司，全面承接大发集团旗下网络信息中介服务业务，为大发集团旗下唯一从事网络信息中介服务业务的法人主体。</p>
<p>大发普惠成立后即按照大发集团部署，建立大发普惠独立撮合服务平台。大发普惠凭借矩阵化的风险管理体系和技术优势，经过中国软件测评中心全面安全检测，通过国家公安部监制<span class="red">国家信息安全等级保护三级认证备案</span>。在知识产权方面， P2P核心系统及技术等获取了多项软件著作权。</p>
<p>大发普惠为出借人和借款人提供信息搜集、信息公布、信息交互、信用评估、撮合等信息中介服务，专注于消费分期领域，拉动消费，扶持实体行业。用户平均借款额低于 1万元人民币，业务小额分散，符合政策要求及普惠精神。</p>
<p>大发普惠客户均为实名注册，平台通过大数据、人脸识别等技术进行风险评估，相关服务电子签章经过<span class="red">CFCA第三方认证</span>。为进一步保护客户合法权益，推进信用社会的建立，2017年初签约仲裁机构，引入调解确认仲裁机制。</p>
<p>大发普惠作为独立的第三方撮合中介机构，自身不做任何保本保息的承诺，自身不提供任何担保。大发普惠引入履约责任保险以及专业保障计划，创新将设立保障计划与引入专业保险机制并举，保护用户权益。</p>
<p>大发普惠定位于独立的信息服务中介机构，2017年，大发普惠<span class="red">正式加入中国互联网金融协会</span>。2017年1月10日大发普惠官网取得增值电信业务经营许可证（ICP证书号：京B2-20170013号），大发普惠平台（平台网址https://www.9fpuhui.com/）全面升级上线。2017年6月，接入中国互联网金融协会互联网金融登记服务平台，按照协会标准通过协会官方网站进行信息披露。2017年8月实缴注册资本增至1亿元人民币。2017年8月21日全量业务<span class="red">上线华夏银行北京分行资金存管</span>，积极、主动地按照中国银监会等监管要求进行合规建设、规范运营。</p>
<p>大发普惠十大主要特征</p>
<p>1. 小额分散、 实名认证。2.按监管要求进行信息披露，对接互联网金融登记披露服务平台。 3.银行资金存管。4.接入央行旗下中国支付清算协会互联网金融风险信息共享系统 。5.对接北京市网贷行业协会产品登记&信息共享系统。 6.通过工信部ICP认证。7.注册资本实缴20亿元人民币。8.引入仲裁机制。9.系统通过公安部国家信息安全等级保护三级认证备案。 10.引入保险机制。</p>
<ol class="report-list">
<li>
<p>大发普惠营业执照</p>
<span class="arrowdown"></span>
<img src="https://static.9f.cn/pos/20190614/1560492427153.jpg" alt="">
</li>
</ol>
<h4 class="border">大发<span class="red">年度荣誉</span></h4>
<div class="img_box">
<img src="{% static '/trust/images/jf10_4.png' %}" alt="" class="pic_2" />
</div>
<ul class="honor">
<li>
<h6 class="red">2006-初创</h6>
<p>孙雷组建三人团队，创立大发网，将其定位为“互联网金融对接线下金融O2O”，并提出“make it simple，让金融更简单”的理念。</p>
<div class="line"></div>
</li>
<li>
<h6 class="red">2007-大发网，网上金融超市</h6>
<p>大发网上线，是国内较早的金融垂直网站，定位为金融渠道、互联网金融科技与信息服务平台。</p>
<p>开创互联网金融超市雏形，推广金融理财、小微信贷的互联网垂直搜索，O2O服务，被媒体誉为“金融国美、理财百度”。</p>
<div class="line"></div>
</li>
<li>
<h6 class="red">2008-理财师背后的理财师</h6>
<p>大发自主研发FTOUCH财富诊断终端，面向银行理财师推广为其管辖的个人金融客户提供网络财富诊断服务，被央视誉为：“理财师背后的理财师”。</p>
<div class="line"></div>
</li>
<li>
<h6 class="red">2009-互联网个人财富专家</h6>
<p>大发陆续与多家银行联合推出FTOUCH基金诊断终端与MONEYBOSS个人网络版基金卫士，当年实现万名银行理财师注册。</p>
<div class="line"></div>
</li>
<li>
<h6 class="red">2010-银行总行战略合作伙伴</h6>
<p>大发中标中国农业银行总行个人金融业务全国战略合作伙伴，在全国37个一级分行推广大发个人金融业务营销方案。</p>
<div class="line"></div>
</li>
<li>
<h6 class="red">2011-互联网微金融服务专家</h6>
<p>大发继农总行，陆续受聘中国银行总行、民生、华夏、光大等银行总行，为全国银行提供个人金融业务方案与小微金融业务方案，引入德国小额信贷技术原理，并与广发、农行等银行直接联合开展小微信贷业务。</p>
<p>大发微金融服务中心总部在北京正式成立。</p>
<div class="line"></div>
</li>
<li>
<h6 class="red">2012-微金融云网平台推出</h6>
<p>大发网自主开发“小微信贷BUS云网”系统上线，对接小微金融信贷客户。大发网的“中小银行CCP云金融网络平台”上线，千余家银行网点数据陆续接入，徽商、重庆、贵阳等区域银行总行陆续接入。</p>
<div class="line"></div>
</li>
<li>
<h6 class="red">2013-移动互联网3I信用决策引擎升级</h6>
<p>大发网与美国最大个人信用评级机构FICO签订战略合作协议，升级大发个人信用决策引擎，推出基于3I（Internet Industry Individual ）的大数据信用评估体系。</p>
<div class="line"></div>
</li>
<li>
<h6 class="red">2014-移动金融，大发先行</h6>
<p>早在2013年大发就开始布局移动端，基于移动互联网的五大特性，大发陆续推出移动微理财、闪银Wecash、大发基金、微信贷等移动微金融科技信息服务平台。4月举行的“行业宝”发布会，借助大发互联网金融云平台、移动金融服务平台，广泛接入行业网站、行业协会、行业集群小微客户群体，提供小微借贷、微理财等相关服务。9月正式上线的大发基金，首日交易额就超过100万，“大发模式，悟空速度”在行业内引起众多关注。</p>
<div class="line"></div>
</li>
<li>
<h6 class="red">2015-正式更名为大发集团</h6>
<p>3月，大发注册用户突破千万。4月，大发及旗下子公司累计获得1.1亿美元融资。5月，持续数月的首届“大发杯”互联网金融创业大赛在北京、上海、深圳、成都、杭州等地火热进行，大发Plus创新加速器全面发力。9月，“玖仰”九周年庆典在北京隆重举办，“大发钱包”顺势诞生。12月，北京大发时代投资顾问有限公司正式更名为“大发互金控股集团有限责任公司”。</p>
<div class="line"></div>
</li>
<li>
<h6 class="red">2016-十一年大发 因久而信</h6>
<p>2016年，大发注册用户突破3000万。春节期间，大发特别打造贺岁歌曲《money money home》，成为行业内跨界营销典型案例。2月，大发与出境游上市公司众信旅游达成战略合作协议，联手成立出境游互联网金融公司北京优玖科技有限公司。7月，大发联合IDG、经纬创投、华兴资本等创投机构举办的“火眼·2016大发中美金融科技创业大赛”落下帷幕,来自美国硅谷的Snapcard夺冠。8月，收购犇亚证券（亚洲），在港设立大发证券。</p>
<div class="line"></div>
</li>
<li>
<h6 class="red">2017-打造数字金融3.0</h6>
<p>1月15日，大发万卡正式上线。2月15日，大发创始人兼CEO孙雷发布了——“All in ONE”战略，以数字技术驱动移动化、场景化到数字化、智能化的过渡，实现数字金融3.0的全面升级。3月，大发集团正式更名为“大发金科控股集团有限责任公司”。3月18日，大发推出的金融知识共享类电台音频期刊《向钱向钱向钱》上线。</p>
<div class="line"></div>
</li>
</ul>
</li>
<li class="content content_2">
<h4><span class="red">账户安全</span>保障服务</h4>
<h5></h5>
<div class="img_box">
<img src="{% static '/trust/images/safe_2.png' %}" alt="" class="pic_2"/>
</div>
<p>大发普惠已与<span class="red">太平洋财险</span>展开合作，为出借客户提供“<span class="red">账户资金安全险</span>”。一旦出现账户被盗用等损失，太平洋财险将按约定进行赔偿。</p>
<h4><span class="red">大发普惠</span>银行存管</h4>
<p class="n-titb">出借人和借款人的资金直接通过华夏银行北京分行进行交易，
大发普惠只提供信息中介服务</p>
<div class="img_box">
<img src="../extra/safety/images/cg.png" alt="" class="pic_5"/>
</div>
<h5 class="n-titc">资金隔离</h5>
<p>用户所有资金均保存在存管银行系统的账户体系内，由存管银行对资金进行管理与监督，大发普惠无法触碰用户资金。</p>
<h5 class="n-titc">交易安全</h5>
<p>资金交易环节均在银行系统中进行，资金交易均由用户发起银行操作执行，保证交易真实有效。存管银行不负责审核融资方和融资项目的真实性和合法性，不保证融资方和融资项目必然还款，也不保障注册用户能够获得期望的出借本金和参考回报。</p>
<h4 class="border">保障计划</h4>
<div class="img_box">
<img src="../extra/safety/images/safe_3.png" alt="" class="pic_3"/>
</div>
<p>一、履约保证保险</p>
<p>大发集团与太平财产保险有限公司（下称“太平财险”）以及中国人民财产保险股份有限公司（下称“人保财险”）合作，通过太平财险以及人保财险的“履约保证保险”,为出借人提供保险保障。</p>
<p>借款期限为一年以内（含一年）的借款人（投保人）将向太平财险或者人保财险投保 “履约保证保险”（具体以借款信息披露内容为准），一旦出现借款逾期，太平财险、人保财险将根据保险合同的约定，就借款人应偿还的借款本金及利息向出借人进行赔付。</p>
<p>二、保障计划专款及担保保障</p>
<p>自2017年12月29日起，当借款期限为多年期（不含一年）的借款人（具体以借款信息披露内容为准）未按照与出借人签订的借款协议约定履行还款义务，根据保障计划专款账户资金使用规则，广东集成融资担保有限公司（以下简称“集成担保”）将监管保障计划专款账户在账户余额的限额内进行偿付，对于超出保障计划专款账户余额的损失，广东集成担保公司以《担保函》内约定的担保责任限额为限承担担保责任，剩余未能覆盖的风险，由出借人自行承担。</p>
<p>集成担保向中国人民财产保险股份有限公司（以下简称“人保财险”）投保《担保机构代偿损失信用保险》，就2017年12月29日至2019年12月28日期间广东集成担保公司承担的大发平台担保代偿损失购买保险保障，保险责任以经人保财险确认承保的集成担保的担保责任为限，不保障超出经人保财险确认承保的广东集成担保公司担保责任范围的损失。“保障计划专款账户”系集成担保根据《保障计划专款使用规则》在大发指定银行开立的监管账户，保障计划专款账户资金使用时需经过集成担保和人保财险审核确认，确保专款专用。</p>
<p>三、保障计划专款保障</p>
<p>已经按照原规则参加保障计划的用户，按照原保障计划执行。若出现借款逾期，根据《保障计划专款使用规则》，由担保方在保障计划专款范围内承担担保责任，超出保障计划专款范围，承保人（如有）在履约保证保险保单约定的限额内对出借人进行赔偿。剩余未能覆盖的风险，由出借人自行承担。保障计划专款使用时需经过保险公司和担保公司审核确认，确保专款专用。</p>
<p>（具体保障方式以借款信息披露内容为准）</p>
<p>大发基金仅为信息导流平台，网络借贷撮合服务由大发普惠完成。大发普惠作为大发集团旗下唯一网络信息中介撮合平台，根据监管要求，不对任何客户提供本息出借的任何担保承诺，信息披露参见大发普惠官网，出借风险由出借人自行评估与承担！</p>
<h4 class="border">保障计划：<span class="red">专款账户监管报告</span></h4>
<div class="img_box">
<img src="../extra/safety/images/safe_4.png" alt="" class="pic_4"/>
</div>
<p id="desc"></p>
<ol class="report-list" id="security">
</ol>
<p class="checkmore"><em>查看更多</em><span class="down"></p>
</li>
<li class="content content_3">
<h4>真实优质的<span class="red">多元化资产</span></h4>
<div>
<img src="../extra/safety/images/borrow.png" alt="" style="width: 4.04rem;height: 3.26rem;margin: 0 auto;">
</div>
<ul class="borrow">
<li>
大发基金定位是一款基于移动大数据和人工智能技术，为广大个人用户<span class="red">提供投资智能管理和信息服务</span>工具。大发基金对接各大金融合作机构，搜集并展示<span class="red">基金、保险、银行等优质资产信息</span>，连接用户与金融合作机构的产品，便于用户一键式查询管理各个投资计划信息。
</li>
</ul>
</li>
</ul>
</div>
</section>



<div style="" id="show" class="fixed">
    <a href="/" class="t-jTxt">
        <dl>
            <dt class="active-foot active-tj">
            <img src="https://m.wukonglicai.com/images/s-yActive.png">
            </dt>
            <dd><p>首页 </p></dd>
        </dl>
    </a>
    <a href="/maintz" class="l-cTxt">
        <dl>
            <dt class="xiabianlanlc">
            <img src="https://m.wukonglicai.com/images/t-z.png">
            </dt>
            <dd><p>投资</p></dd>
        </dl>
    </a>
    <a href="/logout" class="t-qTxt">
        <dl>
            <dt class="xiabianlantq">
            <img src="https://m.wukonglicai.com/images/k-f.png">
            </dt>
            <dd><p>退出</p></dd>
        </dl>
    </a>
    <a href="/userCenter" class="myTxt">
        <dl>
            <dt class="xiabianlanwd">
            <img src="https://m.wukonglicai.com/images/m-y.png">
            </dt>
            <dd><p>我的</p></dd>
        </dl>
    </a>
</div>




</body>

</html>




